.weather{
    place-self: center;
    padding: 40px;
    border-radius: 20px;
    background-image: linear-gradient(45deg ,#2f4680,#500ae4);
    display:flex;
    flex-direction: column;
    align-items: center;

}
.search-bar{
 
    display: flex;
    align-items: center;
    gap: 10px;

 }
 /*
.search-bar input{
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 20px;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 15px;
    
}*/
.search-bar input{
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 20px;
  background-color: #ffffff;
  color: #000000;   /* ← black text */
  font-size: 15px;
}

.search-bar img{
    width:35px;
   border-radius: 20px;
   padding: 5px;
    background:#ffffff;
    cursor: pointer;
  
}
.weather-icon{
    width:400px
}

.temp{
color:rgb(0, 0, 0);
font-size: 67px;
line-height: 1;
}

.place{
color:rgb(0, 0, 0);
font-size: 30px;
padding-bottom: 20px;
}

.weather-data {
    display: flex;          /* ← THIS is the key */
    gap: 100px;
    justify-content: center;
    align-items: center;

}

.col {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 

}
.humidity-icon{
    width: 50px;

}

.wind-icon{
    width: 50px;
}